.btn{
  width: 150px;
  height: 60px;
  color: blue;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.1em;
  transition: all .4s;
}
.btn:hover{
  color: red;
  background: #f1f1f1;
  transition: all .4s;
}
.btn--primary{
  background-color: Blue;
  color: white;
}

.btn--secondary{
  background-color: #f1f1f1;
  color: gray;
}
.btn--large{
  width: 250px;
}

.btn--extra-large{
  width: 350px;
}

.navbar{
  list-style: none;
}

.navbar--horizental{
  display: inline-block;
  padding: 1.3em;
}

.navbar--verticaly{
  display: block;
  padding: 1.3em;
}
a{
  text-decoration: none;
  color:red;
}